*{
    font-family:"Raleway-Bold";
}
body{
    background: blueviolet;
}
@font-face {
    font-family: "Raleway-Bold" ;
    src: url(./Raleway-Bold.ttf);
}
.LinkTel{
    transition: 0.5s;
    text-decoration: none;
}
.LinkTel:hover{
    color: rgb(27, 0, 63);
}
h1{
    color: rgb(0, 0, 77);
}
hr{
    border: 2px solid rgb(57, 0, 104);
}